@font-face{
    font-family: "silkscreen"; 
    src: local("slkscr"), url("/Assets/slkscr.ttf");
    format("truetype");
}

@font-face{
    font-family: "silkscreenbold"; 
    src: local("slkscrb"), url("/Assets/slkscrb.ttf");
    format("truetype");
}
